# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Frontend
Frontend/node_modules/
Frontend/dist/

# Joern / Project Specific
workspaces/
workspace/
cpg.bin
*.log
nohup.out
# joern-cli.zip (Commented out to allow copying into image)
